<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideShowApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16CB97481E7F7F8900C8877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CB975C1E7F7F8900C8877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CB97671E7F7F8900C8877C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
